<div id="wrapper">
    <h1>Comment Section</h1>
    <button id="back-button">Back to Articles</button>
    {{!-- <h2><i>If you can do this...the homework should be no problem.</i></h2> --}}
    {{!-- <div class="container"></div> --}}
    {{#each articles}}

    <div class="card" style="width: 80%">


        <h2>{{title}}</h2>
        <p>{{summary}}</p>
        <a href={{link}}>Read More</a>
        <a href="/comments/{{_id}}">View Comments</a>
        <p class="make-comment" style="color: darkslategray" data-id='{{id}}'><u>Make a Comment</u></p>

    </div>

    <div id="comment-input-box">
    <form action="/submit/{{_id}}" method="post">
    {{!-- <form id="comment-form"> --}}
      <input type="text" name="username" placeholder="Your Name">
      <input type="text" name="body" placeholder="Comment...">

      <input type="submit">
    </form>
    </div>

    {{/each}}

    {{#each comments}}
        <div class="card bg-success" width="60%">
            <h5>Comment By: {{username}}</h5>
            <p>{{body}}</p>

            <button id="delete-comment" value="{{_id}}">Delete Comment</button>
        </div>

    {{/each}}


    {{!-- <div id="comment-input-box">
    <form action="/submit/{{}}" method="post">
      <input type="text" name="username" placeholder="Your Name">
      <input type="text" name="body" placeholder="Comment...">

      <input type="submit">
    </form>
    </div> --}}

    <div id="notes"></div>
</div>