<div id="wrapper">
    <h1>Philadelphia Sports News</h1>
    <button onclick="newArticleScrape()">Load Daily Articles</button>
    {{!-- <h2><i>If you can do this...the homework should be no problem.</i></h2> --}}

    {{!-- <div class="container"></div> --}}
    {{#each articles}}

    <div class="card" style="width: 80%">
        <h2>{{title}}</h2>
        <p>{{summary}}</p>
        <a href={{link}}>Read More</a>
        <a href="/comments/{{_id}}">View Comments</a>
        <a href="/comments/{{_id}}">Make a Comment</a>
    </div>

    {{/each}}

    <div id="notes"></div>
</div>